@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Race Sport";
  src: url("../public/font/RaceSport.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-accent: #00ff01;
  --color-bg: #0b0b0b;
  --color-bg-secondary: #161616;
  --color-bg-foreground: #f2f2f2;
  --color-bg-foreground-secondary: #b0b0b0;
  --color-misc: #2c2c2c;
  --font-Race: "Race Sport";
}
* {
  cursor: none !important;
}

html,
body,
button,
a,
input,
textarea,
select {
  cursor: none !important;
}

body {
  @apply bg-bg text-bg-foreground;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Race Sport", sans-serif;
}

/* CAROUSEL STYLES */
.mySwiper {
  overflow: hidden !important;
}

.hero-carousel {
  padding: 25px 0;
  overflow: visible !important;
}

.hero-carousel .swiper-slide {
  width: 65%;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  filter: brightness(0.5);
  border: 3px solid transparent;
  border-radius: 1.25rem;
}

.hero-carousel .swiper-slide-active {
  transform: scale(1.05);
  filter: brightness(1);
}

.hero-carousel .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Gradient Border */
.gradient-border-b::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #00ff00 20%,
    #00ff00 80%,
    transparent 100%
  );
}

.gradient-border-r::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #00ff00 20%,
    #00ff00 80%,
    transparent 100%
  );
}
/* custom-scrollbar utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-bg-secondary); /* #161616 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-misc); /* #2C2C2C */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; /* slightly lighter on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-misc) var(--color-bg-secondary);
}
